
/.Rproj.user
misc/interesting-competitive-examples.Rmd
misc/JTRP-D-24-00100_R1-Reviewer-Report.pdf
misc/JTRP-D-24-00100_R1-Reviewer-Report.Rmd
misc/JTRP-D-24-00100_R1_reviewer.pdf
misc/JTRP-D-24-Reviewer-Report.pdf
misc/JTRP-D-24-Reviewer-Report.Rmd
misc/JTRP-D-24_reviewer.pdf
